{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>persons</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    <div class="container">
      <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">Persons List</li>
      </ol>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>name lastname</th>
            <th>age</th>
            <th>creatoin date</th>
          </tr>
        </thead>
        <tbody>
          {% for p in person %}
            <tr>
              <td>
                {{ p.name }}
                <small class="text-muted d-block">{{ p.lastname }}</small>
              </td>
              <td class="align-middle">{{ p.age }}</td>
              <td class="align-middle">{{ p.created_at }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>

